@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <button onclick="GoToSwagger()">Swagger</button>
</div>
<script>
    function GoToSwagger() {
        window.location.replace("http://debug.create:123/swagger")
    }
</script>
