@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <table class="table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Text</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.messages != null)
            {
            @foreach (var x in Model.messages)
            {
            <tr>
                <td>@x.Id</td>
                <td>@x.Text</td>
                <td>@x.Author</td>
            </tr>
            }
            }
        </tbody>
    </table>

    <a asp-page-handler="Create">Create</a>

</div>
