@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <button onclick="GoToSwagger()">Swagger</button>
</div>
<script>
    function GoToSwagger() {
        window.location.replace("http://localhost/Notes")
    }
</script>